.menu {
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: #ddd;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}


.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar .menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 0;
}
.field{
    width: 600px;


}


.button {
    background-color: #4cafa3;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #68c7bc;
}


span {
    color: red;
}

.sidebar .menu ul li a:hover {
    color: #ddd;
}

.search-form {
    margin-top: 20px;
}
.table td {
    color: #000;
}

.form {
    width: 50%;
    margin: auto;
}


.loginLogo {
    display: block;
    margin: 0 auto;
    max-width: 50px;
    height: auto;
}


.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    color: #000;
}

.search-update {
    width: 25%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    color: #000;
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.store-logo {
    height: 50px;
    margin-right: 10px;
}

.store-name {
    font-size: 1.5em;
    margin-right: auto;
}



.footer-logo {
    height: 50px;
    margin: 0 15px;
}

.footer-address, .footer-contact {
    margin: 0 15px;
}

.footer-address h3, .footer-contact h3 {
    margin-top: 0;
}

.footer-address p, .footer-contact p {
    margin-bottom: 0;
}

.container {
    display: flex;
}
.table {
    width: 100%;
    margin: 10px 0;

}

.table th, .table td {
    padding: 10px;
    border: 1px solid #555;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    color: #000;
}

.view-order {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.view-order:hover {
    color: #ddd;
}
.search {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.search:hover {
    color: #ddd;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

